{% extends "layout.html.twig" %}
{% block title %}{{ parent() }}Utilisateurs{%endblock%}
{%block content%} 
    {% block fos_user_content %}
        {% trans_default_domain 'FOSUserBundle' %}
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-8">
                <h2><i class="fa fa-lock" aria-hidden="true"></i> Changer de mot de passe</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{{path('homepage')}}">Accueil</a>
                    </li>
                    <li>
                        <a href="{{path('edit_account')}}">Utilisateurs</a>
                    </li>
                    <li class="active">
                        <strong>Changer de mot de passe</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-4">
                <a href="{{path('edit_account')}}" class="btn btn-lg btn-default pull-right btn-heading"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Retour</a>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Attention<small>, veillez à ne pas égarer votre mot de passe.</small></h5>
                        </div>
                        <div class="ibox-content">
                            <form action="{{ path('change_password') }}" method="POST" class="form-horizontal fos_user_change_password">
                                {{ form_start(form) }}
                                <div class="form-group{%if form_errors(form.current_password)%} has-error{%endif%}">
                                    <label class="col-sm-2 control-label">
                                        Mot de passe actuel :
                                    </label>
                                    <div class="col-sm-10">
                                        {{ form_widget(form.current_password, {'attr' : { 'class' : 'form-control'} }) }} 
                                        {%if form_errors(form.current_password)%}
                                            <small class="text-danger">Le mot de passe saisie n'est pas valide</small>
                                        {%endif%}
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group{%if form_errors(form.plainPassword.first)%} has-error{%endif%}">
                                    <label class="col-sm-2 control-label">Nouveau mot de passe :</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(form.plainPassword.first, {'attr' : { 'class' : 'form-control'} } ) }} 
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group{%if form_errors(form.plainPassword.first)%} has-error{%endif%}">
                                    <label class="col-sm-2 control-label">Confirmer votre nouveau mot de passe :</label>
                                    <div class="col-sm-10">
                                        {{ form_widget(form.plainPassword.second, {'attr' : { 'class' : 'form-control'} } ) }} 
                                        {%if form_errors(form.plainPassword.first)%}
                                            <small class="text-danger">Les mots de passe saisies ne correspondent pas</small>
                                        {%endif%}
                                    </div>
                                </div>
                                {{ form_rest(form) }}
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 pull-right">
                                        <a class="btn btn-white pull-right" href='{{path('edit_account')}}'><i class="fa fa-times-circle-o" aria-hidden="true"></i> Annuler</a>
                                        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-lock" aria-hidden="true"></i> Changer le mot de passe</button>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {%endblock%}
{% endblock %}